.whatsapp_web,
.email {
  background-color: white;
  box-shadow: 0px 0px 7px 4px rgba(222, 199, 199, 0.75);
  -webkit-box-shadow: 0px 0px 7px 4px rgba(222, 199, 199, 0.75);
  -moz-box-shadow: 0px 0px 7px 4px rgba(222, 199, 199, 0.75);
  padding: 36px 70px;
  border-radius: 16px;
}
.contact_info {
  padding-top: 160px;
}
.contact_info p {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 48px;
}
.contact_info h5 {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 32px;
  text-align: center;
}
.whatsapp_web h5 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 16px;
}
.whatsapp_web p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
}
.whatsapp_web p span {
  font-weight: 600;
  color: #588221;
}
.email a {
  text-decoration: none;
}
.email p,
.email a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-top: 35px;
  font-size: 24px;
  margin-bottom: 24px;
  color: #383838;
}
.last_info_area {
  margin-bottom: 160px;
}
.whatsa_app_linke {
  color: #588221;
  margin: 0px 3px;
  text-decoration: none;
}
@media screen and (max-width: 1280px) {
  .contact_info {
    padding-top: 100px;
  }
  .last_info_area {
    margin-bottom: 100px;
  }
  .whatsapp_web,
  .email {
    padding: 36px 5px;
  }
}
@media screen and (max-width: 992px) {
  .contact_info {
    padding-top: 50px;
  }
  .last_info_area {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .whatsapp_web {
    margin-bottom: 20px;
  }
  .contact_info h5 {
    font-size: 26px;
    margin-bottom: 26px;
  }
  .contact_info p {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  .contact_info {
    padding-top: 0px;
  }
  .last_info_area,
  .accordian_wrapper .accordion-item {
    margin-bottom: 25px;
  }
  .contact_info p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .contact_info h5 {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 490px) {
  .contact_info h5 {
    margin-bottom: 25px;
  }
  .whatsapp_web h5 {
    font-size: 20px;
  }
  .email p {
    font-size: 20px;
  }
}
