.main-title{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}


.para-text{
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
    color: #0d0d0d;
}

.para-text2{
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
    color: #0d0d0d;
    padding-left: 15px;
}

.para-text3{
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
    color: #0d0d0d;
    padding-left: 30px;
}


.mt-1{
   padding-top: 20px;
}
.mt-2{
    padding-top: 5px;
    color: #0d0d0d;
 }
.para-head{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-decoration: underline;
  
}


.bottom-text{
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
    text-align: right;
    color: #0d0d0d;
    margin-top: 35px ;
    margin-bottom: 25px;
}

.bottom-child{
    font-weight: bold;
    color: #000;
}


.text-link{
    color: #5f8a00;
    text-decoration: underline;
    font-weight: 700;
}